doctype html
html
  head
    title R image
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='404.css', rel='stylesheet')
  body
    div(class="container")
      p(class="text") Oops.. I think You were looking in a wrong place
      img(src="/404-min.jpg" class="image")
      a(href='/' class="back") Back
