@import "../variables.scss";
@import "../mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Coiny');

.controls-container{
  clear: both;
  text-align: center;
  margin: 20px 0;
  position: relative;
  right: $controlsLeftMargin / 2;
}

.btn {
  outline: none;
  cursor: pointer;
}

.btn-like-dislike {
  margin-left: $controlsLeftMargin;
  width: 65px;
  height: 65px;
  border-radius: 32.5px;
}

.btn-like {
  background: url("../images/like-small-min.png");
}
.liked-disliked {
  opacity: 0.5;
}
.btn-dislike {
  background: url("../images/dislike-small-min.png");
}

.btn-views {
  background: #307550;
  background: -moz-radial-gradient(center, ellipse cover,  #307550 14%, #48dbb1 76%, #03080a 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #307550 14%,#48dbb1 76%,#03080a 100%);
  background: radial-gradient(ellipse at center,  #307550 14%,#48dbb1 76%,#03080a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307550', endColorstr='#03080a',GradientType=1 );
  position: relative;
  display: block;
  width: 220px;
  height: 50px;
  border-radius: 45px;
  margin: 22px auto;
  right: -$controlsLeftMargin / 2;
  font-size: 40px;
  font-family: 'Coiny', cursive;
  letter-spacing: 8px;
  line-height: 1;
}

.hidden {
  display: none;
}
.transparent {
  opacity: 0.4;
  cursor: not-allowed;
}
.nextImage {
  position: relative;
  right: 6px;
  bottom: 3px;
  border-radius: 29px;
}

.fa-spinner {
  font-size: 40px;
  opacity: 1;
  position: absolute;
  left: 90px;
  top: 5px;
  z-index: 999;
  color: darken(#00a27F, 15%);
  cursor: not-allowed;
}

@include tablet {
  .controls-container {
    right: $controlsLefMarginTablet / 2
  }
  .btn-like-dislike {
    margin-left: $controlsLefMarginTablet
  }
  .btn-views {
    right: -$controlsLefMarginTablet / 2
  }
}

@include laptop {
  .controls-container {
    right: $controlsLefMarginLaptop / 2
  }
  .btn-like-dislike {
    margin-left: $controlsLefMarginLaptop
  }
  .btn-views {
    right: -$controlsLefMarginLaptop / 2
  }
}

@include fullHD {
  .controls-container {
    right: $controlsLefMarginFullHD / 2
  }
  .btn-like-dislike {
    margin-left: $controlsLefMarginFullHD
  }
  .btn-views {
    right: -$controlsLefMarginFullHD / 2
  }
}

@include bigScreen {
  .controls-container {
    right: $controlsLefMarginBig / 2
  }
  .btn-like-dislike {
    margin-left: $controlsLefMarginBig
  }
  .btn-views {
    right: -$controlsLefMarginBig / 2
  }
}
