@import "../variables.scss";
@import "../mixins.scss";

.image-container {
  text-align: center;
  img {
    max-width: 100%;
    box-shadow: 0 0 17px 5px lighten($backgroundColor, 55%);
  }
}

@include tablet {
  .image-container {
    margin-top: 20px;
  }
}
