$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import "../../mixins";
@import "../../variables";

.status-container {
  // border: 1px solid black;
  text-align: center;
  font-size: 20px;
  margin: 15px 0 30px 0;
}

ul {
  padding: 0;
  display: inline;
  position: relative;
  right: 9%;
  li {
    display: inline-block;
    margin-left: 18%;
  }
}

@include tablet {
  ul {
    right: 6%;
  }
  ul > li {
    margin-left: 12%;
  }
}

@include laptop {
  ul {
    right: 4%;
  }
  ul > li {
    margin-left: 8%;
  }
}

@include fullHD {
  ul {
    right: 2.75%;
  }
  ul > li {
    margin-left: 5.5%;
  }
}

@include bigScreen {
  ul {
    right: 2.1%;
  }
  ul > li {
    margin-left: 4.2%;
  }
}

.fa-thumbs-up {
  color: #39BE48;
}
.fa-thumbs-down {
  color: #0090C8;
}
.fa-eye {
  color: #E57200;
}
.like, .dislike, .views {
  color: darken($fontColor, 10%);
}
