@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "./variables.scss";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', Helvetica, sans-serif;
  background: $backgroundColor;
  color: darken($fontColor, 15%);
}

ul {
  list-style-type: none;
}
