$controlsLeftMargin: 18%;
$controlsLefMarginTablet: 13%;
$controlsLefMarginLaptop: 8.5%;
$controlsLefMarginFullHD: 7%;
$controlsLefMarginBig: 6%;

$fontColor: #FFF;
$backgroundColor: darken(#2E2C2D, 8%);
